STANDARD_DOMAIN_LIST = "catgirlx.com"
STANDARD_BSKY_DOMAIN_LIST = "bsky.catgirlx.com"
STANDARD_TIKTOK_DOMAIN_LIST = "tiktok.catgirlx.com"
DIRECT_MEDIA_DOMAINS = "d.catgirlx.com,dl.catgirlx.com"
TEXT_ONLY_DOMAINS = "t.catgirlx.com,text.catgirlx.com"
INSTANT_VIEW_DOMAINS = "i.catgirlx.com"
GALLERY_DOMAINS = "g.catgirlx.com"
FORCE_MOSAIC_DOMAINS = "m.catgirlx.com"
OLD_EMBED_DOMAINS = "o.catgirlx.com"
MOSAIC_DOMAIN_LIST = "mosaic.catgirlx.com"
MOSAIC_BSKY_DOMAIN_LIST = "mosaic-bsky.catgirlx.com"
GIF_TRANSCODE_DOMAIN_LIST = "gif.catgirlx.com"
VIDEO_TRANSCODE_DOMAIN_LIST = "video.catgirlx.com"
VIDEO_TRANSCODE_BSKY_DOMAIN_LIST = "video-bsky.catgirlx.com"
PBS_PROXY_DOMAIN_LIST = "pbs.catgirlx.com"
# Leave unset to use the public MyMemory fallback.
POLYGLOT_DOMAIN_LIST = ""
POLYGLOT_ACCESS_TOKEN = ""
BLUESKY_API_HOST_LIST = "api-bsky.catgirlx.com"
ATMOSPHERE_API_HOST_LIST = "api-atmosphere.catgirlx.com"
API_HOST_LIST = "api.catgirlx.com"
TWITTER_ROOT = "https://x.com"
INSTAGRAM_ROOT = "https://www.instagram.com"
INSTAGRAM_API_ROOT = "https://i.instagram.com"
SENTRY_DSN = ""
SENTRY_AUTH_TOKEN = ""
SENTRY_ORG = ""
SENTRY_PROJECT = ""